.modalOverlay {
  position: fixed;
  inset: 0px;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  right: 8px;

  border: 1px solid var(--black);
  background: var(--yellow);
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 36px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  button {
    font-size: 20px;
    position: relative;
    min-width: 160px;
  }

  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 240px;
    gap: 16px;
  }
}

.modalTitle {
  color: var(--black);
  font-size: 24px;
  text-align: center;
}

.modalSelectionButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  button {
    background: var(--purple);
    color: var(--white);
  }
}

.selectedButton {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--black);
    border-radius: 4px;
    margin: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
  }
}

.finishButton {
  background: var(--pink);
  color: var(--yellow);
}
